<h1>All the Movies</h1>

<div class="row d-flex">
  <% @movies.each do |movie| %>
    <div class="col-3">
      <div class="card border my-4">
        <p><%= movie.title %></p>
        <%= image_tag movie.poster_url, alt: "Movie Poster", width: 200 %>
        <p><%= movie.overview %></p>
        <p><%= movie.rating %></p>
      </div>
    </div>
  <% end %>
</div>
